.App {
  text-align: center;
}

.formulario-fondo {
  background: url(/public/background.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.advanced-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #343a40;
  color: #ffffff; 
}

.advanced-form .form-control {
  background-color: #495057; 
  color: #ffffff; 
  border: 1px solid #6c757d; 
}

.advanced-form .form-control::placeholder {
  color: #ced4da; 
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group .error {
  color: red;
  font-size: 0.875em;
}


button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #27292c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #495057;
}

.carousel-container {
  max-width: 800px; 
  margin: 0 auto; 
}

.carousel-control-prev, .carousel-control-next {
  width: 5%; 
}

.carousel-indicators {
  bottom: 10px; 
}


.carousel-indicators button {
  background-color: #756969; 
  width: 12px; 
  height: 12px; 
  margin: 0 5px; 
  border-radius: 50%; 
  border: none; 
}

.carousel-indicators .active {
  background-color: #141414; 
}


.carousel-item {
  transition: opacity 1s ease;
}

.carousel-item.active {
  opacity: 1; 
}